# FeatureMesh Configuration
FEATUREMESHD_IMAGE=europe-west1-docker.pkg.dev/featuremesh-public/images/featuremeshd:latest
FEATUREMESH_REGISTRY_URL=https://api.featuremesh.com
FEATUREMESH_REGISTRY_TOKEN=__YOUR_SERVICE_ACCOUNT_TOKEN__
FEATUREMESH_IDENTITY_TOKEN=__YOUR_IDENTITY_TOKEN__

# Database Configuration
POSTGRES_USER=featuremesh
POSTGRES_PASSWORD=featuremesh
POSTGRES_DB=featuremesh
POSTGRES_PORT=5433

# Redis Configuration
REDIS_PORT=6380

# Service Ports
TRINO_PORT=8081
FASTAPI_PORT=8010
JUPYTER_PORT=8881

